

<div class="menu">
   <br>
   <div class="log">
      <a href="{{url_for('showFranchises')}}" id = "pad">
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>View All Franchise
      </a>
      {% if 'username' not in session %}
      <i class="glyphicon glyphicon-user"></i>
      <a href = "/login" class="log">Login</a>
      {% else %}
      <i class="glyphicon glyphicon-user"></i>
      <a href = "{{url_for('logout')}}" class="log">Logout</a>
      {% endif %}
   </div>
</div>


